body {
    background-color: #ffffff;
    font-family: "Momo Trust Display", sans-serif;
}

header{
    color: #16a4e6;
    display: flex;
    width: 100%;
}

form{
    padding-left: 10px;
    width: 600px;
    height: 50px;
    position: relative;
    left: 20%;
    background-color: #16a4e6;
    color: #ffffff;
    border-radius: 20px;
}

input{
    position: relative;
    top: 25%;
}
label{
    position: relative;
    top: 25%;
}

#Curiosidades {
    display: flex;
    width: 700px;
    gap: 10px;
    font-size: 15px;
    margin-left: 10%;
    padding: 15px;
    background-color: #16a4e6;
    color: #ffffff;
    border-radius: 20px;
}

#LugaresConhecidos {
    width: 400px;
    font-size: 15px;
    margin-left: 55%;
    padding: 15px;
    border: solid 3px #16a4e6;
    border-radius: 20px;
}

#LugaresFuturos {
    width: 400px;
    font-size: 15px;
    margin-left: 10%;
    padding: 15px;
    background-color: #16a4e6;
    color: #ffffff;
    border-radius: 20px;
}

button{
    background-color: white;
    color: black;
    border-color: black;
    width: 200px;
    height: 30px;
    margin: 2px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #16a4e6;
    color: #ffffff;
    margin-top: 10px;
}