body {
    background-color: #ffffff;
    font-family: "Momo Trust Display", sans-serif;
}

header{
    color: #16a4e6;
    display: flex;
    width: 100%;
}

form{
    padding: 10px;
    width: 600px;
    height: 50px;
    position: relative;
    left: 20%;
    background-color: #16a4e6;
    color: #ffffff;
    border-radius: 20px;
}

input{
    position: relative;
    top: 25%;
}
label{
    position: relative;
    top: 25%;
}

aside {
    padding: 15px;
    float: right;
    width: 25%;
}

.MaisVistos{
    width: 70%;
    display: flex;
    gap: 5px;
    text-align: center;
}

.Recomendados{
    width: 70%;
    display: flex;
    gap: 5px;
    text-align: center;
}

.col{
    transition: 0.5s;
    width: 300px;
    border: dotted #16a4e6;
}

.col:hover{
    transform: scale(1.1);
    background-color: #16a4e6;
    border-color: black;
} 

button{
    background-color: white;
    color: black;
    border-color: black;
    width: 200px;
    height: 30px;
    margin: 2px;
}

footer{
    width: 100%;
    text-align: center;
    background-color: #16a4e6;
    color: #ffffff;
    margin-top: 10px;
}